In [210]:
import pandas as pd

data=pd.read_csv("Data/logistic regression titanic/train.csv",index_col="PassengerId")
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [211]:
from sklearn import preprocessing
data_util=data.drop(labels=["Ticket","Name","Cabin","SibSp","Parch"],axis=1)
data_util["Embarked"]=data["Embarked"].astype(str)
data_util.head()

             Survived  Pclass     Sex   Age     Fare Embarked
PassengerId
1                   0       3    male  22.0   7.2500        S
2                   1       1  female  38.0  71.2833        C
3                   1       3  female  26.0   7.9250        S
4                   1       1  female  35.0  53.1000        S
5                   0       3    male  35.0   8.0500        S

In [212]:
#s

In [213]:
le=preprocessing.LabelEncoder()
data_cat=data_util.copy()
data_cat["Embarked"]=le.fit_transform(data_cat["Embarked"])
data_cat["Male"]=le.fit_transform(data_cat["Sex"])
data_cat=data_cat.drop(columns=["Sex"])
data_cat.head()

             Survived  Pclass   Age     Fare  Embarked  Male
PassengerId
1                   0       3  22.0   7.2500         2     1
2                   1       1  38.0  71.2833         0     0
3                   1       3  26.0   7.9250         2     0
4                   1       1  35.0  53.1000         2     0
5                   0       3  35.0   8.0500         2     1

In [214]:
import seaborn as sns